*{
    margin: 0;
}
.formAdmin{
    background-color: black;
    width: 30%;
    border: 5px solid black;
    padding: 20px;
    color: white;
    margin:10px auto;
}
.formAdmin h1, .formAdmin h2 {
    text-align: center;
}

.formAdmin form {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: auto;
    padding: 5px;
}
textarea{
    height: 200px;
}
.formAdmin input, .formAdmin button{
    padding: 3px;
    margin: 10px 3px;
}

.contenair {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}