*{
    margin: 0;
}
body{
    background-color: black;
}
.formAdmin{
    background-color: black;
    width: 50%;
    border: 5px solid black;
    padding: 20px;
    color: white;
    margin:10px auto;
}
.formAdmin h1, .formAdmin h2 {
    text-align: center;
}

.formAdmin form {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: auto;
    padding: 5px;
}
textarea{
    height: 200px;
}
.formAdmin input, .formAdmin button{
    padding: 3px;
    margin: 10px 3px;
}

.contenair {
    display: flex;
    flex-wrap: wrap;
}


h1{
    color: white;
    border: 2px solid goldenrod;
}
.sousMenu{
    display: none;
    width: 100%;
    position: absolute;
}
nav{
    width: 100%;
}

.menu:hover .sousMenu{
    display: block;
    
}
li {
    list-style: none;
    background-color: goldenrod;
    border: 2px solid black;
    padding: 5px;
    font-size: 1.5em;
    width: 30%;
}
a{
    text-decoration: none;
    color: white;
}
li:hover, a:hover{
    color: gold;
    background-color: black;

}
button{
    width :30%;
}